  <div data-controller='select-user'></div>
  <%= simple_form_for(@property) do |f| %>
    <div class="mt-4 mb-4">
    <%= f.input :title, label: false, placeholder: "Title"  %>
    </div>
    <%= f.input :description, label: false, placeholder: "Description" %>
    <div class="mt-4 mb-3">
    <%= f.input :address, label: false, placeholder: "Address" %>
    </div>
    <div class="mt-4 mb-3">
    <%= f.input :default_job_price, label: false, placeholder: "Default job price" %>
    </div>
    <div class="mt-4 mb-3">
    <%= f.input :default_cleaning_from, label: false, placeholder: "Default cleaning from"  %>
    </div>
    <div class="mt-4 mb-3">
    <%= f.input :default_cleaning_until, label: false, placeholder: "Default cleaning until"  %>
    </div>

    <%= f.simple_fields_for :teams do |tf| %>
      <h2 class="m-4 text-center"><em>Your team!</em><i class="fa-solid fa-people-group fa-beat-fade fa-lg" style="color: #3770d2;"></i></h2>

      <h4 class="mt-4">Already have a cleaner?</h4>
      <%= tf.input :cleaner_id, collection: User.all.map { |user| [user.first_name, user.id] }, input_html: {multiple: true, data: {controller: "tom-select", tom_select_options_value: {tags: true}}} %>

      <h4 class="mt-4">Already have a Manager?</h4>
      <%= tf.input :manager_id, collection: User.all.map { |user| [user.first_name, user.id] }, input_html: {multiple: true, data: {controller: "tom-select", tom_select_options_value: {tags: true}}} %>
    <% end %>

    <%= f.input :photo, as: :file %>

    <%= f.submit %>
<% end %>
