<div class="d-flex flex-column justify-content-center align-items-center" style="margin-top: 40px; padding: 10px">
<h1>Your jobs</h1>
<p>jobs home page</p>
<% if session[:user_role] == "manager" %>
  <%= link_to "Create Job", new_job_path, class:"btn btn-primary btn-lg btn-block mb-5 w-80" %>
<% end %>
</div>

<div class="container d-flex flex-column justify-content-center align-items-center" >
<ul id="jobList">
<% if @jobs%>
  <% @jobs.each do |job| %>
    <div class="job-listing d-flex justify-content-between container align-items-center custom-container-height rounded-md">
      <img src="https://www.thehousedesigners.com/images/uploads/SiteImage-Landing-modern-house-plans-1.webp" class="custom-image-width col-2" />
      <div class="col-7">
      <div class="job-info">
        <h2><%= job.price %></h2>
        <p><%= job.description %></p>
        <% if session[:user_role] == "cleaner" %>
          <div>
            <%= simple_form_for(job.user, url: chatrooms_path, method: :post) do |form| %>
                <%= form.hidden_field :user_id, value: job.user.id %>
                <%= form.hidden_field :job_id, value: job.id %>
                <%= form.button :submit, job.user.first_name %>
              <% end %>
          </div>
        <% end %>
      </div>
      </div>

      <div class="date-created col-2">
      <p class="align-items-center"><%= job.date_of_job %></p>
      <% if session[:user_role] == "manager" %>
        <p class="current-status"><%= job.status %></p>
        <% if job.status == "applied" %>
          <%= link_to "Accept Application", job_path(job) %>
        <% elsif job.status == "completed" %>
          <% if cleaner_review(job).nil? %>
            <p class="current-status">completed</p>
            <%= link_to "review job", new_job_review_path(job) %>
          <% else %>
            <p class="current-status">reviewed</p>
              <% if manager_review(job).nil? %>
              <% else %>
                <%= link_to "see cleaner review", job_review_path(job, manager_review(job))%>
              <% end %>
          <% end %>
        <% end %>
      <% else %>
        <% if job.status == "open" %>
          <p class="current-status"><%= job.status %></p>
          <%= form_tag job_change_status_path(job), method: :patch, style: "display: inline;" do %>
            <% if job.property.teams.find_by(user: current_user, profession: "cleaner") %>
              <%= submit_tag "Accept", class: "btn btn-link" %>
            <% else %>
              <%= submit_tag "Apply", class: "btn btn-link" %>
            <% end %>
          <% end %>
        <% elsif job.status == "applied" && job.job_applications.find_by(user: current_user).nil? %>
          <p class="current-status"><%= "open" %></p>
          <%= form_tag job_change_status_path(job), method: :patch, style: "display: inline;" do %>
            <% if job.property.teams.find_by(user: current_user, profession: "cleaner") %>
              <%= submit_tag "Accept", class: "btn btn-link" %>
            <% else %>
              <%= submit_tag "Apply", class: "btn btn-link" %>
            <% end %>
          <% end %>
        <% elsif job.job_applications.find_by(user: current_user, status: "applied")%>
          <p class="current-status"><%= "applied" %></p>
          <p>Waiting job application to be accepted.</p>
        <% elsif job.job_applications.find_by(user: current_user, status: "accepted") %>
          <% status = job.job_applications.find_by(user: current_user).status %>
          <p class="current-status"><%= status %></p>
          <%= form_tag job_change_status_path(job), method: :patch, style: "display: inline;" do %>
            <%= submit_tag "complete", class: "btn btn-link" %>
          <% end %>
        <% elsif job.job_applications.find_by(user: current_user, status: "completed") %>
          <% if manager_review(job).nil? %>
            <p class="current-status">completed</p>
            <%= link_to "review job", new_job_review_path(job) %>
          <% else %>
            <p class="current-status">reviewed</p>
              <% if cleaner_review(job).nil? %>
              <% else %>
                <%= link_to "see manager review", job_review_path(job, cleaner_review(job))%>
              <% end %>
          <% end %>
        <% end %>
      <% end %>
      </div>
      <img src="https://headshotphotos.ca/wp-content/uploads/headshotphotos.ca_.jpg" alt="User Icon" class="user-icon float-right col-1" />


    </div>
  <% end %>
<% end %>
</ul>

<%# <div class="job-listing d-flex justify-content-between container align-items-center custom-container-height rounded-md">
  <img src="https://www.thehousedesigners.com/images/uploads/SiteImage-Landing-modern-house-plans-1.webp" class="custom-image-width col-2" />
  <div class="col-7">
  <div class="job-info">
    <h2>Name of Job</h2>
    <p>Job description with <strong>relevant info</strong> only.</p>
  </div>
  </div>

  <div class="date-created col-2">
  <p class="align-items-center">September 15, 2023</p>
  <p class="current-status">Status</p>
  </div>
  <img src="https://headshotphotos.ca/wp-content/uploads/headshotphotos.ca_.jpg" alt="User Icon" class="user-icon float-right col-1" />


</div> %>

</div>
