<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" data-controller="navbar"">

<ul class="logo">
  <%= link_to jobs_path, class: "navbar-brand" do %>
      <%= image_tag "logonavbar.png", alt: "Le Wagon", width: 200 %>
  <% end %>
</div>

<div class="buttons">

  <ul class="navbar-nav me-auto">
    <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to "Jobs", jobs_path, class: "nav-link" %>
      </li>
      <li class="nav-item" data-navbar-target="myProperties">
        <%= link_to "Properties", properties_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Inbox", chatrooms_path, class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "Dashboard", dashboard_path, class: "nav-link" %>
      </li>
    <% end %>
  </ul>
</div>

<div class="avatar"></div>

</div>
