<%= render @lists %>

<h1><%= @list.name %></h1>

<div>
  <%# <%= link_to "Edit this list", edit_list_path(@list) %> %>
  <%= link_to "Back to lists", lists_path %>
  <%# <%= link_to 'Add a review', new_list_review_path(@list) %> %>
</div>
