<h1 class="d-flex flex-column justify-content-center align-items-center mt-4 mb-4">Write a review for
  <% if session[:user_role] == "manager" %>
    cleaner <strong><%= User.find(@job.job_applications.find_by(status: "completed").user_id).first_name%></strong>
  <% else %>
    <strong><%= User.find(@job.user_id).first_name %></strong>
  <% end %>
</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <% if @job.status == "completed"  %>
        <%= simple_form_for [@job, @review] do |f| %>
          <%= f.input :description, label: false, placeholder: "Description" %>
          <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience", input_html: {data: {controller: "star-rating"}} %>
          <%= f.submit "Send your review" %>
        <% end %>
      <% else %>
        <p>Sorry, you can't review this job yet.</p>
      <% end %>
    </div>
  </div>
</div>
